<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性与UserMapper.java保持一致位置-->
<mapper namespace="com.xiajiayi.apisservice.mapper.TokenMapper">

    <select id="getToken" resultType="java.lang.String">
        select `token`
        from token
    </select>
</mapper>